/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
app/resources/

# Laravel 5 & Lumen specific
public/storage
public/images
public/hot
public/dashboard
public/resources

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
composer.lock
.rnd
dashboard/package-lock.json
resources/views/dashboard.blade.php
